@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  box-sizing: border-box;
}
.dashboard_main {
  align-items: flex-start;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-top: 17px;
  width: 100%
}

.dashboard_main .flex-row {
  align-items: center;
  display: flex;
  height: 19px;
  margin-left: 1px;
  min-width: 75px;
}
.dashboard_main .line {
  height: 1px;
  width: 978px;
}
.dashboard_main .oval {
  height: 16px;
  margin-bottom: 1px;
  width: 16px;
}
.dashboard_main .task-1 {
  letter-spacing: 0px;
  line-height: 19px;
  margin-left: 10px;
  min-height: 19px;
  min-width: 49px;
  white-space: nowrap;
}
.dashboard_main .title {
  letter-spacing: 0px;
  line-height: 29px;
  min-height: 29px;
  white-space: nowrap;
}

.helvetica-normal-black-24px {
  color: black;
  font-family: "Helvetica", Helvetica;
  font-size: 24px;
}
